<div class="accordion accordion-flush" id="accordionAll">
  <div class="accordion-header ceremony-header fw-bold">
    Ceremony & Attire
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingArrival">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseArrival" aria-expanded="false" aria-controls="collapseArrival">
        What time should I arrive?
      </button>
    </h2>
    <div id="collapseArrival" class="accordion-collapse collapse" aria-labelledby="headingArrival"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        We will be starting our ceremony promptly at <strong>x:xx PM</strong>.
        We kindly request that you arrive <strong>30 minutes</strong> early to
        ensure you don't miss anything. This will allow for time to park, enter
        the venue, and get settled in a seat. If you arrive late, we ask that
        you do not enter the venue until the closure of the ceremony and can
        then enter for cocktail hour.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingDressCode">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseDressCode" aria-expanded="false" aria-controls="collapseDressCode">
        Dress Code & Outfit Inspiration
      </button>
    </h2>
    <div id="collapseDressCode" class="accordion-collapse collapse" aria-labelledby="headingDressCode"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        <p>Please dress to impress! We'd love to see all of our family and
          friends in their best formal wear. <strong><em>DO NOT</em></strong>
          wear jeans or denim. Men, <strong><em>DO NOT</em></strong> wear
          open-toed shoes. Keep in mind the ceremony is in early November, with
          weather ranging from 50–70°F. Our ceremony and reception are indoors,
          so it shouldn't be a concern.</p>
        <p>Our wedding party will be in various shades of purple if you haven't
          figured out our favorite color yet!</p>
        <div class="row g-3 mt-3">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img
              src="https://www.abcprom.com/cdn/shop/products/ALineVNeckRedSatinLongPromDresswithSlit_VNeckRedFormalGraduationEveningDress_large.jpg?v=1616464759"
              alt="Red floor-length dress with slit" class="img-fluid rounded" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img
              src="https://www.mychicdress.com/cdn/shop/products/A-Line-Green-Tulle-Long-Prom-Dresses-V-Neck-Formal-Wedding-Guest-Dress-MyChicDress-5557.jpg?v=1734406226"
              alt="Green floor-length tulle dress with deep V-neck" class="img-fluid rounded" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="https://www.lulus.com/images/product/xlarge/11678881_1045042.jpg?w=195&hdpi=1"
              alt="black floor-length dress with boat neck" class="img-fluid rounded" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img
              src="https://www.ballbella.com/cdn/shop/files/classy-dark-gray-slim-fit-men-suit-formal-formal-bridegroom-wedding-suits-ballbella.jpg?v=1737640038"
              alt="Dark gray slim fit suit on left side, black slim fit suit on right side" class="img-fluid rounded" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0601/1476/4025/files/02_8b17a8b7-02f1-4bc4-83b8-8a6d1dcd6891.jpg?v=1692164413"
              alt="blue suit with white shirt and stripped tie on left, blue suit without tie on right"
              class="img-fluid rounded" />
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img
              src="https://images.prismic.io/suitshop/Z6ZUAJbqstJ9-YL-_Snapinst.app_469082234_18467680654038242_7295700743964702443_n_1080.jpg?auto=format%2Ccompress&w=3400&ar=2%3A3&fit=crop&crop=faces%2Cfocalpoint"
              alt="green suit with green-brown tie" class="img-fluid rounded" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingPhotos">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePhotos" aria-expanded="false" aria-controls="collapsePhotos">
        Can I take photos during the ceremony?
      </button>
    </h2>
    <div id="collapsePhotos" class="accordion-collapse collapse" aria-labelledby="headingPhotos"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        We are having an unplugged ceremony, meaning that once the ceremony
        begins, we ask that all guests put away their phones and cameras to
        fully enjoy the moment. There will be a minute at the beginning for
        photos, but after that no phones. A professional photographer will
        capture all the special moments.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSocialMedia">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSocialMedia" aria-expanded="false" aria-controls="collapseSocialMedia">
        Can I post to social media?
      </button>
    </h2>
    <div id="collapseSocialMedia" class="accordion-collapse collapse" aria-labelledby="headingSocialMedia"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Absolutely! We encourage you to share your photos on social media. Just
        be sure to use our wedding hashtag
        <code>#levelupwithwieme</code> so we can see all the amazing moments you
        capture!
      </div>
    </div>
  </div>
  <div class="accordion-header guests-header fw-bold">
    Guests & RSVP
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingPlusOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePlusOne" aria-expanded="false" aria-controls="collapsePlusOne">
        Can I bring a plus one?
      </button>
    </h2>
    <div id="collapsePlusOne" class="accordion-collapse collapse" aria-labelledby="headingPlusOne"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Due to the size of our venue, we are unable to accommodate plus ones for
        all guests. If your invitation includes a plus one, you are welcome to
        bring a guest. If it does not, we kindly ask that you attend solo. We
        appreciate your understanding and look forward to celebrating with you!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingChildren">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseChildren" aria-expanded="false" aria-controls="collapseChildren">
        Are children allowed at the wedding?
      </button>
    </h2>
    <div id="collapseChildren" class="accordion-collapse collapse" aria-labelledby="headingChildren"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Due to the nature of our venue and the event, we kindly ask that you
        make arrangements for childcare during the ceremony and reception. Thank
        you for your understanding!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingRSVP">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRSVP"
        aria-expanded="false" aria-controls="collapseRSVP">
        When do I need to RSVP by?
      </button>
    </h2>
    <div id="collapseRSVP" class="accordion-collapse collapse" aria-labelledby="headingRSVP"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Please RSVP by <strong>00/00</strong>. If we do not receive your RSVP by
        this date, we will unfortunately have to assume you are unable to
        attend. We will <em>not</em> be able to accommodate late responses. We
        look forward to celebrating with you!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingUnable">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseUnable" aria-expanded="false" aria-controls="collapseUnable">
        What do I do if I cannot attend?
      </button>
    </h2>
    <div id="collapseUnable" class="accordion-collapse collapse" aria-labelledby="headingUnable"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Please let us know as soon as possible if you are unable to attend. We
        will dearly miss you on our special day!
      </div>
    </div>
  </div>
  <div class="accordion-header reception-header fw-bold">
    Reception & Food
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOpenBar">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOpenBar" aria-expanded="false" aria-controls="collapseOpenBar">
        Will there be an open bar?
      </button>
    </h2>
    <div id="collapseOpenBar" class="accordion-collapse collapse" aria-labelledby="headingOpenBar"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        There will be a combination bar at the reception. During cocktail hour,
        we will have a selection of beer, wine, and cocktails available. During
        dinner, it will be a cash bar. After dinner, the bar will be open again.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingParking">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseParking" aria-expanded="false" aria-controls="collapseParking">
        Where shall I park?
      </button>
    </h2>
    <div id="collapseParking" class="accordion-collapse collapse" aria-labelledby="headingParking"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        There will be limited parking available at the venue. We recommend
        arriving early to secure a spot. There will also be street parking
        around the venue as well as parking available right down the road at P&J
        as Nick's office has so kindly allowed us to use the lot for the day!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMenu">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu"
        aria-expanded="false" aria-controls="collapseMenu">
        So, what's on the menu?
      </button>
    </h2>
    <div id="collapseMenu" class="accordion-collapse collapse" aria-labelledby="headingMenu"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        We will be serving a buffet style meal with options for everyone. There
        will be a meat option, a vegetarian option, and a vegan option. We will
        also have a salad bar and a dessert bar. If you have any dietary
        restrictions, please let us know in advance so we can accommodate you!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingAfterParty">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseAfterParty" aria-expanded="false" aria-controls="collapseAfterParty">
        What time will the reception end and will there be an after party?
      </button>
    </h2>
    <div id="collapseAfterParty" class="accordion-collapse collapse" aria-labelledby="headingAfterParty"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        The reception will end at 11:00 PM. We hope you can join us for the
        entire celebration! There will not be an official after party, but we
        encourage everyone to continue the festivities at their own discretion.
      </div>
    </div>
  </div>
  <div class="accordion-header misc-header fw-bold">
    Miscellaneous
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingContact">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
        I have a question the week of the wedding, who do I contact?
      </button>
    </h2>
    <div id="collapseContact" class="accordion-collapse collapse" aria-labelledby="headingContact"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        Our parents, immediate families, the wedding party—anyone but us. We
        will be stressed enough as it is!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSmoking">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSmoking" aria-expanded="false" aria-controls="collapseSmoking">
        Is there a smoking section?
      </button>
    </h2>
    <div id="collapseSmoking" class="accordion-collapse collapse" aria-labelledby="headingSmoking"
      data-bs-parent="#accordionAll">
      <div class="accordion-body">
        You may smoke outside in the designated smoking area. Please be
        respectful of other guests and dispose of your cigarette butts properly.
      </div>
    </div>
  </div>
</div>