<section id="wedding-party" class="py-5">
    <div class="container">
        <div class="col-md-12 p-4">
            <h1 class="text-center header">Wedding Party</h1>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-4 mb-md-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front text-center">
                            <img src="assets/Sam.JPEG" class="img-fluid rounded">
                            <div class="caption mt-2">
                                <h5 class="mb-1">Sam</h5>
                                <p class="text-muted mb-0">Maid of Honor</p>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <p class="px-3">Besties since freshman year of college. Always knows the best places around
                                Rochester.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-md-4 col-lg-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front text-center">
                            <img src="assets/kitty.jpg" class="img-fluid rounded">
                            <div class="caption mt-2">
                                <h5 class="mb-1">Stella</h5>
                                <p class="text-muted mb-0">Best Man</p>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <p class="px-3">Cat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h4 class="text-center party mb-4">Bride's Party</h4>
                <div class="row g-4 justify-content-center">
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/Curly.jpg" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Dalton (Curly)</h5>
                                        <p class="text-muted mb-0">Bridesman</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">Friends since the 3rd grade. Always ready to play Smash Bros.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/Hanna.jpeg" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Hanna</h5>
                                        <p class="text-muted mb-0">Bridesmaid</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">Friends since middle school. Can't wait for a duet dance move.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/Jess.JPG" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Jess</h5>
                                        <p class="text-muted mb-0">Bridesmaid</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">Friends since middle school. Completely down for scream singing
                                        Careless Whisper.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/Lexi.jpeg" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Lexi</h5>
                                        <p class="text-muted mb-0">Bridesmaid</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">Friend since elementary/middle school. Will thrift at any
                                        opportunity.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/Sonya.jpg" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Sonya</h5>
                                        <p class="text-muted mb-0">Bridesmaid</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">Friends since high school. THE LIFE OF THE PARTY!!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5 mt-md-0">
                <h4 class="text-center party mb-4">Groom's Party</h4>
                <div class="row g-4 justify-content-center">
                    <div class="col-10 col-sm-6">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front text-center">
                                    <img src="assets/groomsman1.jpg" class="img-fluid rounded">
                                    <div class="caption mt-2">
                                        <h5 class="mb-1">Some guy</h5>
                                        <p class="text-muted mb-0">Groomsman</p>
                                    </div>
                                </div>
                                <div
                                    class="flip-card-back d-flex align-items-center justify-content-center text-center">
                                    <p class="px-3">xyz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>