<div class="zola-registry container-fluid">
  <div class="row">
    <div class="col-md-12 p-4">
      <h1 class="text-center header">Our Wedding Registry</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto pb-2">
      <p class="text-center body">We are so excited to celebrate our wedding
        with you! If you would like to contribute to our future together, we
        have set up a registry with Zola. Thank you for being a part of our
        special day!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="registry">
        <a class="zola-registry-embed"
          href="https://www.zola.com/registry/levelupwithwieme"
          data-registry-key="levelupwithwieme">Our Zola Wedding Registry</a>
      </div>
    </div>
  </div>
</div>
