@use '../../styles/_variables'as _variables;


.zola-registry {
  color: _variables.$dark_purple;

  .header {
    // padding: 5vh;
    font-family: 'WindSong', cursive;
  }

  .body {
    font-family: 'roboto', sans-serif;
    // padding-bottom: 1rem;
  }

  .registry {}
}