<div class="ourstory py-5">
    <div class="container-fluid h-100">
        <div class="col-md-12 p-4">
            <h1 class="text-center header">Our Story</h1>
        </div>
        <div class="row g-3 mt-3 mx-auto d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/polaroid.JPG" class="img-fluid rounded w-100"
                    alt="Nick and Dakota in a polaroid from Skylar's wedding" />
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/firstpic.jpeg" class="img-fluid rounded w-100"
                    alt="Nick, Dakota, Skylar, and PAt at their wedding" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/skylar.jpg" class="img-fluid rounded w-100"
                    alt="Nick and Skylar hugging at Skylar's wedding" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <h4 class="mb-3">How It All Began</h4>
                <p class="lead mb-4">It all started the night before our friend Skylar's wedding.</p>
                <p class="lead mb-4">Dakota had known Skylar for most of her life — they met playing soccer around 2004.
                    Nick had known Skylar since sixth grade, when he switched to public school.</p>
                <p class="lead mb-4">The night before the wedding, Dakota and her dad were visiting Skylar's mom,
                    Rachel. The conversation went something like this:<br>
                    “Do you have a boyfriend?” “No.”<br>
                    “Do you have a girlfriend?” “No.”<br>
                    “Do you want one?” “Maybe...?”</p>
                <p class="lead mb-4">One phone call later, Skylar told Nick, “I’m setting you up with my friend Dakota
                    tomorrow.” And just like that, fate stepped in.</p>
            </div>
        </div>
        <div class="row g-3 mt-3 mx-auto d-flex justify-content-center align-items-stretch">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex align-items-center">
                <img src="assets/ily.jpg" class="img-fluid rounded w-100" alt="Dakota smiling, holding Nick's hand" />
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center">
                <img src="assets/crazy.PNG" class="img-fluid rounded w-100 align-self-center"
                    alt="Dakota sticking her tongue out with a sour patch kid in her mouth, daring Nick to eat it while Lexi looks confused" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex align-items-center">
                <img src="assets/meetfriend.jpg" class="img-fluid rounded w-100"
                    alt="Nick and Dakota on Halloween at Short's where Nick stole the cowboy hat" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <h4 class="mb-3">Falling in Love</h4>
                <p class="lead mb-4">Their first interaction was born from forgetfulness. They had forgotten the broom
                    for the ceremony, and Dakota had the house keys — attached to Nora’s leash. She handed Nick the
                    doggy bag holder (keys included), and off he went, putting the pedal to the metal in the poor
                    Cadillac to go retrieve it.</p>
                <p class="lead mb-4">Later that evening, after the ceremony, dances, and speeches, Nick mustered up the
                    courage to make his move. He brought Dakota over to his side of the head table, and the two talked
                    the night away.</p>
                <p class="lead mb-4">It was a match made in heaven (not that either of them really believes in heaven).
                </p>
                <p class="lead mb-4">Not long after, they made it official — though only after many "I like like yous."
                    They fell deeply and totally in love, quickly becoming inseparable. Eventually, Dakota showed up at
                    Nick’s for the weekend… and never really left. Over time, she officially moved in. It was the best
                    time.</p>
            </div>
        </div>
        <div class="row g-3 mt-3 mx-auto d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <img src="assets/cuddle.jpeg" class="img-fluid rounded w-100" alt="Nick cuddling Stella" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <img src="assets/litter.jpeg" class="img-fluid rounded w-100"
                    alt="The cats are so confused by the litter robot" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/kitty.jpg" class="img-fluid rounded w-100" alt="Dakota holding Stella up in the air" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <h4 class="mb-3">Growing Together</h4>
                <p class="lead mb-4">They even adopted their third kitty, Stella Luna (formerly known as Balsam Fir, the
                    fourth of the tree kitten litter that Nick's sister fostered and Nick's parents adopted),
                    rounding out their little family of five (Salem, Spirit, and Stella).</p>
                <p class="lead mb-4">Their love continued to grow, rooted in shared adventures, daily joy, and enduring
                    support through tough times.</p>
            </div>
        </div>
        <div class="row g-3 mt-3 mx-auto d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/us.JPG" class="img-fluid rounded w-100"
                    alt="Dakota and Nick together, post proposal" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <img src="assets/ring.JPG" class="img-fluid rounded w-100" alt="Dakota's ring on her hand" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <img src="assets/propose.JPG" class="img-fluid rounded w-100"
                    alt="Dakota and Nick reenacting the proposal" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <h4 class="mb-3">The Proposal</h4>
                <p class="lead mb-4">After everything they’d experienced together, they were ready for the next step.
                </p>
                <p class="lead mb-4">During a week-long camping trip to Lake George, Nick had a secret — the engagement
                    ring hidden under the center console of the car.</p>
                <p class="lead mb-4">The proposal was everything Dakota had dreamed of: filled with joy, shock, swearing
                    (she’ll never stop swearing like a sailor — sorry, not sorry), and pure happiness.</p>
                <p class="lead mb-4">Now, they’re counting down the days to say “I do” and begin the next chapter of
                    their happily ever after.</p>
            </div>
        </div>
    </div>
</div>