@use '../styles/_variables' as _variables;

.navbar-color {
    background-color: _variables.$dark_purple;
}

.text-color {
    color: _variables.$light_purple;
    font-family: 'Roboto', sans-serif;
}

.item-color {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 205, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.router {
    padding: 0;
}