@use '../../styles/_variables' as _variables;

.header {
    // padding: 5vh;
    font-family: 'WindSong', cursive;
    color: _variables.$dark_purple;
}

.card {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: _variables.$dark_purple;
    }

    .card-body {
        margin-left: 2rem;
    }
}