<div class="home">
    <header class="home-header" style="background-image: url('assets/placeholderimg.jpg');">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="text-center">
                    <div class="text">
                        <h1 class="fw-light text-white main">Nicolas & Dakota</h1>
                        <p class="lead text-white sub">Save the Date: November 4th, 2028!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>